<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>661958783022-e5v2mevt61smcr9m1p03v1a0f37uoevo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661958783022-e5v2mevt61smcr9m1p03v1a0f37uoevo</string>
	<key>API_KEY</key>
	<string>AIzaSyAGjLYLfngF5ngz51TB7UwQMM-Ih1t8kbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>661958783022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.basila.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>ciaofitnessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ciaofitnessapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661958783022:ios:e16d95c642999dea</string>
	<key>DATABASE_URL</key>
	<string>https://ciaofitnessapp.firebaseio.com</string>
</dict>
</plist>