<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>category</key>
			<array>
				<dict>
					<key>url</key>
					<string>08Bi8hMdwa4</string>
					<key>shortDesc</key>
					<string>10 MINUTE STANDING ABS WORKOUT TO LOSE BELLY FAT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>X663kXIufZI</string>
					<key>shortDesc</key>
					<string>10 MINUTE BUTT AND THIGH WORKOUTS AT HOME - EXPRESS GLUTE &amp; THIGH TONING ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>1919eTCoESo</string>
					<key>shortDesc</key>
					<string>10 MIN ABS WORKOUT -- AT HOME ABDOMINAL AND OBLIQUE EXERCISES</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>88FYIppJGxA</string>
					<key>shortDesc</key>
					<string>FUN AT HOME CARDIO - 10 MINUTE CARDIO AND ABS WORKOUT</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>cHUjyp-SmKY</string>
					<key>shortDesc</key>
					<string>QUICK 10 MINUTE CORE WORKOUT - PAIN IN MY ABS!
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>HRvFxrFGqA4</string>
					<key>shortDesc</key>
					<string>10 MINUTE NO EQUIPMENT UPPER BODY WORKOUT - COMPLETE UPPER BODY WORKOUT WITHOUT WEIGHTS
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>rGRA6bD72CM</string>
					<key>shortDesc</key>
					<string>BOOTY SHAPER WORKOUT - GLUTE AND THIGH EXERCISES FOR A BIGGER BUTT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>5oj9-4ZQes4</string>
					<key>shortDesc</key>
					<string>COOL DOWN AND FULL BODY STRETCH - RELAXING COOL DOWN AND STRETCHING WORKOUT ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
			</array>
			<key>categoryName</key>
			<string>10 MINUTES</string>
			<key>imageName</key>
			<string>1</string>
		</dict>
		<dict>
			<key>category</key>
			<array>
				<dict>
					<key>url</key>
					<string>08Bi8hMdwa4</string>
					<key>shortDesc</key>
					<string>10 MINUTE STANDING ABS WORKOUT TO LOSE BELLY FAT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>X663kXIufZI</string>
					<key>shortDesc</key>
					<string>10 MINUTE BUTT AND THIGH WORKOUTS AT HOME - EXPRESS GLUTE &amp; THIGH TONING ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>1919eTCoESo</string>
					<key>shortDesc</key>
					<string>10 MIN ABS WORKOUT -- AT HOME ABDOMINAL AND OBLIQUE EXERCISES</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>88FYIppJGxA</string>
					<key>shortDesc</key>
					<string>FUN AT HOME CARDIO - 10 MINUTE CARDIO AND ABS WORKOUT</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>cHUjyp-SmKY</string>
					<key>shortDesc</key>
					<string>QUICK 10 MINUTE CORE WORKOUT - PAIN IN MY ABS!
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>HRvFxrFGqA4</string>
					<key>shortDesc</key>
					<string>10 MINUTE NO EQUIPMENT UPPER BODY WORKOUT - COMPLETE UPPER BODY WORKOUT WITHOUT WEIGHTS
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>rGRA6bD72CM</string>
					<key>shortDesc</key>
					<string>BOOTY SHAPER WORKOUT - GLUTE AND THIGH EXERCISES FOR A BIGGER BUTT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>5oj9-4ZQes4</string>
					<key>shortDesc</key>
					<string>COOL DOWN AND FULL BODY STRETCH - RELAXING COOL DOWN AND STRETCHING WORKOUT ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
			</array>
			<key>categoryName</key>
			<string>CARDIO</string>
			<key>imageName</key>
			<string>3</string>
		</dict>
		<dict>
			<key>category</key>
			<array>
				<dict>
					<key>url</key>
					<string>08Bi8hMdwa4</string>
					<key>shortDesc</key>
					<string>10 MINUTE STANDING ABS WORKOUT TO LOSE BELLY FAT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>X663kXIufZI</string>
					<key>shortDesc</key>
					<string>10 MINUTE BUTT AND THIGH WORKOUTS AT HOME - EXPRESS GLUTE &amp; THIGH TONING ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>1919eTCoESo</string>
					<key>shortDesc</key>
					<string>10 MIN ABS WORKOUT -- AT HOME ABDOMINAL AND OBLIQUE EXERCISES</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>88FYIppJGxA</string>
					<key>shortDesc</key>
					<string>FUN AT HOME CARDIO - 10 MINUTE CARDIO AND ABS WORKOUT</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>cHUjyp-SmKY</string>
					<key>shortDesc</key>
					<string>QUICK 10 MINUTE CORE WORKOUT - PAIN IN MY ABS!
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>HRvFxrFGqA4</string>
					<key>shortDesc</key>
					<string>10 MINUTE NO EQUIPMENT UPPER BODY WORKOUT - COMPLETE UPPER BODY WORKOUT WITHOUT WEIGHTS
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>rGRA6bD72CM</string>
					<key>shortDesc</key>
					<string>BOOTY SHAPER WORKOUT - GLUTE AND THIGH EXERCISES FOR A BIGGER BUTT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>5oj9-4ZQes4</string>
					<key>shortDesc</key>
					<string>COOL DOWN AND FULL BODY STRETCH - RELAXING COOL DOWN AND STRETCHING WORKOUT ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
			</array>
			<key>categoryName</key>
			<string>ABS</string>
			<key>imageName</key>
			<string>2</string>
		</dict>
		<dict>
			<key>category</key>
			<array>
				<dict>
					<key>url</key>
					<string>08Bi8hMdwa4</string>
					<key>shortDesc</key>
					<string>10 MINUTE STANDING ABS WORKOUT TO LOSE BELLY FAT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>X663kXIufZI</string>
					<key>shortDesc</key>
					<string>10 MINUTE BUTT AND THIGH WORKOUTS AT HOME - EXPRESS GLUTE &amp; THIGH TONING ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>1919eTCoESo</string>
					<key>shortDesc</key>
					<string>10 MIN ABS WORKOUT -- AT HOME ABDOMINAL AND OBLIQUE EXERCISES</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>88FYIppJGxA</string>
					<key>shortDesc</key>
					<string>FUN AT HOME CARDIO - 10 MINUTE CARDIO AND ABS WORKOUT</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>cHUjyp-SmKY</string>
					<key>shortDesc</key>
					<string>QUICK 10 MINUTE CORE WORKOUT - PAIN IN MY ABS!
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>HRvFxrFGqA4</string>
					<key>shortDesc</key>
					<string>10 MINUTE NO EQUIPMENT UPPER BODY WORKOUT - COMPLETE UPPER BODY WORKOUT WITHOUT WEIGHTS
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>rGRA6bD72CM</string>
					<key>shortDesc</key>
					<string>BOOTY SHAPER WORKOUT - GLUTE AND THIGH EXERCISES FOR A BIGGER BUTT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>5oj9-4ZQes4</string>
					<key>shortDesc</key>
					<string>COOL DOWN AND FULL BODY STRETCH - RELAXING COOL DOWN AND STRETCHING WORKOUT ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
			</array>
			<key>categoryName</key>
			<string>BUTT</string>
			<key>imageName</key>
			<string>5</string>
		</dict>
		<dict>
			<key>category</key>
			<array>
				<dict>
					<key>url</key>
					<string>08Bi8hMdwa4</string>
					<key>shortDesc</key>
					<string>10 MINUTE STANDING ABS WORKOUT TO LOSE BELLY FAT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>X663kXIufZI</string>
					<key>shortDesc</key>
					<string>10 MINUTE BUTT AND THIGH WORKOUTS AT HOME - EXPRESS GLUTE &amp; THIGH TONING ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>1919eTCoESo</string>
					<key>shortDesc</key>
					<string>10 MIN ABS WORKOUT -- AT HOME ABDOMINAL AND OBLIQUE EXERCISES</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>88FYIppJGxA</string>
					<key>shortDesc</key>
					<string>FUN AT HOME CARDIO - 10 MINUTE CARDIO AND ABS WORKOUT</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>cHUjyp-SmKY</string>
					<key>shortDesc</key>
					<string>QUICK 10 MINUTE CORE WORKOUT - PAIN IN MY ABS!
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>HRvFxrFGqA4</string>
					<key>shortDesc</key>
					<string>10 MINUTE NO EQUIPMENT UPPER BODY WORKOUT - COMPLETE UPPER BODY WORKOUT WITHOUT WEIGHTS
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>rGRA6bD72CM</string>
					<key>shortDesc</key>
					<string>BOOTY SHAPER WORKOUT - GLUTE AND THIGH EXERCISES FOR A BIGGER BUTT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>5oj9-4ZQes4</string>
					<key>shortDesc</key>
					<string>COOL DOWN AND FULL BODY STRETCH - RELAXING COOL DOWN AND STRETCHING WORKOUT ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
			</array>
			<key>categoryName</key>
			<string>UPPER BODY</string>
			<key>imageName</key>
			<string>4</string>
		</dict>
		<dict>
			<key>category</key>
			<array>
				<dict>
					<key>url</key>
					<string>08Bi8hMdwa4</string>
					<key>shortDesc</key>
					<string>10 MINUTE STANDING ABS WORKOUT TO LOSE BELLY FAT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>X663kXIufZI</string>
					<key>shortDesc</key>
					<string>10 MINUTE BUTT AND THIGH WORKOUTS AT HOME - EXPRESS GLUTE &amp; THIGH TONING ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>1919eTCoESo</string>
					<key>shortDesc</key>
					<string>10 MIN ABS WORKOUT -- AT HOME ABDOMINAL AND OBLIQUE EXERCISES</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>88FYIppJGxA</string>
					<key>shortDesc</key>
					<string>FUN AT HOME CARDIO - 10 MINUTE CARDIO AND ABS WORKOUT</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>cHUjyp-SmKY</string>
					<key>shortDesc</key>
					<string>QUICK 10 MINUTE CORE WORKOUT - PAIN IN MY ABS!
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>HRvFxrFGqA4</string>
					<key>shortDesc</key>
					<string>10 MINUTE NO EQUIPMENT UPPER BODY WORKOUT - COMPLETE UPPER BODY WORKOUT WITHOUT WEIGHTS
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>rGRA6bD72CM</string>
					<key>shortDesc</key>
					<string>BOOTY SHAPER WORKOUT - GLUTE AND THIGH EXERCISES FOR A BIGGER BUTT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>5oj9-4ZQes4</string>
					<key>shortDesc</key>
					<string>COOL DOWN AND FULL BODY STRETCH - RELAXING COOL DOWN AND STRETCHING WORKOUT ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
			</array>
			<key>categoryName</key>
			<string>BURN FAT</string>
			<key>imageName</key>
			<string>8</string>
		</dict>
		<dict>
			<key>category</key>
			<array>
				<dict>
					<key>url</key>
					<string>08Bi8hMdwa4</string>
					<key>shortDesc</key>
					<string>10 MINUTE STANDING ABS WORKOUT TO LOSE BELLY FAT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>X663kXIufZI</string>
					<key>shortDesc</key>
					<string>10 MINUTE BUTT AND THIGH WORKOUTS AT HOME - EXPRESS GLUTE &amp; THIGH TONING ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>1919eTCoESo</string>
					<key>shortDesc</key>
					<string>10 MIN ABS WORKOUT -- AT HOME ABDOMINAL AND OBLIQUE EXERCISES</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>88FYIppJGxA</string>
					<key>shortDesc</key>
					<string>FUN AT HOME CARDIO - 10 MINUTE CARDIO AND ABS WORKOUT</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>cHUjyp-SmKY</string>
					<key>shortDesc</key>
					<string>QUICK 10 MINUTE CORE WORKOUT - PAIN IN MY ABS!
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>HRvFxrFGqA4</string>
					<key>shortDesc</key>
					<string>10 MINUTE NO EQUIPMENT UPPER BODY WORKOUT - COMPLETE UPPER BODY WORKOUT WITHOUT WEIGHTS
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>rGRA6bD72CM</string>
					<key>shortDesc</key>
					<string>BOOTY SHAPER WORKOUT - GLUTE AND THIGH EXERCISES FOR A BIGGER BUTT
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
				<dict>
					<key>url</key>
					<string>5oj9-4ZQes4</string>
					<key>shortDesc</key>
					<string>COOL DOWN AND FULL BODY STRETCH - RELAXING COOL DOWN AND STRETCHING WORKOUT ROUTINE
</string>
					<key>about</key>
					<string>BRING YOUR HEART RATE DOWN AT AN IDEAL PACE AND STRETCH YOUR ENTIRE BODY THOROUGHLY WITH THIS COOL DOWN &amp; TOTAL BODY STRETCH VIDEO.

WHEN YOU BRING YOUR HEART RATE DOWN SLOWLY, YOU ALLOW YOUR BODY TO CONTINUALLY FLUSH OUT ALL OF THE WASTE PRODUCTS THAT YOU BUILT UP OVER THE COURSE OF YOUR MORE STRENUOUS WORKOUT ROUTINE. YOUR HEART GETS TO SLOW DOWN AT A GRADUAL PACE INSTEAD OF COMING TO A SUDDEN STOP.

COOL DOWN: 30 SECONDS OF EACH
JUMPING JACKS
JOGGING IN PLACE
STANDING TOE TOUCHES
SIDE LUNGES
WALKING ARM STRETCHES
</string>
					<key>imageQuality</key>
					<string>mqdefault</string>
				</dict>
			</array>
			<key>categoryName</key>
			<string>BODYBUILDING</string>
			<key>imageName</key>
			<string>7</string>
		</dict>
	</array>
</dict>
</plist>
